@tailwind base;
@tailwind components;

// https://tailwindcss.com/docs/extracting-components

.page-header {
  @apply text-3xl font-semibold;
}

.link {
  @apply underline;

  &:hover {
    @apply text-black;
  }
}

.select-button {
  @apply appearance-none h-16 w-full p-2 border border-gray-600 rounded;

  &:hover {
    @apply bg-gray-200;
  }
}

.map-overlay {
  @apply bg-gray-200;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .map-overlay {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(255, 255, 255, 0.8);
  }
}

@tailwind utilities;
